Name: <%= @user.name %>
Number of Tickets: <%= @user.tickets %>
Mood: <%= @user.mood %>
Height: <%= @user.height %>
<% if @user.admin %>
ADMIN: true
<%end%>

<% if @message %>
<div class="center alert">
  <%= @message %>
</div>
<% end %>

<%= link_to "See attractions", attractions_path %>
<%= link_to "Log Out", "/signout" %>
